beautifulsoup4==4.11.1
boto3==1.23.9
botocore==1.26.9
bs4==0.0.1
certifi==2022.5.18.1
cfscrape==2.1.1
charset-normalizer==2.0.12
cloudscraper==1.2.60
idna==3.3
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.27.1
requests-toolbelt==0.9.1
s3transfer==0.5.2
six==1.16.0
soupsieve==2.3.2.post1
urllib3==1.26.9
absl-py==0.15.0
affinegap==1.12
alabaster==0.7.12
alembic==1.7.7
anaconda-client==1.9.0
anaconda-navigator==2.1.4
anaconda-project==0.10.2
anyio==2.2.0
appdirs==1.4.4
applaunchservices==0.2.1
appnope==0.1.2
appscript==1.1.2
arcgis==1.9.1
argh==0.26.2
argon2-cffi==20.1.0
arrow==0.13.1
asgiref==3.5.0
asn1crypto==1.4.0
astroid==2.6.6
astropy==5.0
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
autobahn==22.4.2
Automat==20.2.0
autopep8==1.6.0
awscli==1.22.101
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
banal==1.0.6
binaryornot==0.4.4
bitarray==2.3.5
bkcharts==0.2
black==19.10b0
bleach==4.1.0
bokeh==2.4.2
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
BTrees==4.10.0
cached-property==1.5.2
cachetools==5.0.0
categorical-distance==1.9
cffi==1.14.6
channels==3.0.4
chardet==4.0.0
click==8.0.3
cloudpickle==2.0.0
clyent==1.2.2
colorama==0.4.4
colorcet==3.0.0
conda==4.12.0
conda-build==3.21.7
conda-content-trust==0+unknown
conda-pack==0.6.0
conda-package-handling==1.7.3
conda-repo-cli==1.0.4
conda-token==0.3.0
conda-verify==3.4.2
constantly==15.1.0
contextlib2==0.6.0.post1
cookiecutter==1.7.2
cryptography==3.4.8
csvmatch==1.22
cycler==0.11.0
Cython==0.29.25
cytoolz==0.11.0
daal4py==2021.4.0
daphne==3.0.2
dask==2021.10.0
dataset==1.5.2
DateTime==4.4
datetime-distance==0.1.3
debugpy==1.5.1
decorator==5.1.0
dedupe==2.0.11
dedupe-hcluster==0.3.9
dedupe-variable-datetime==0.1.5
defusedxml==0.7.1
demographicx==0.0.1
diff-match-patch==20200713
distlib==0.3.4
distributed==2021.10.0
Django==4.0.1
docopt==0.6.2
docutils==0.17.1
DoubleMetaphone==1.1
ecdsa==0.17.0
entrypoints==0.3
et-xmlfile==1.1.0
ethnicolr==0.8.1
fastcache==1.1.0
fastcluster==1.2.6
filelock==3.4.0
flake8==3.9.2
Flask==1.1.2
flatbuffers==1.12
fonttools==4.25.0
fsspec==2021.10.1
future==0.18.2
fuzzy-pandas==0.1
fuzzywuzzy==0.18.0
gast==0.4.0
geomet==0.3.0
gevent==21.8.0
glob2==0.7
gmpy2==2.0.8
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graph-tools==1.5
graphviz==0.20
greenlet==1.1.1
grpcio==1.34.1
h5py==3.6.0
haversine==2.5.1
HeapDict==1.0.1
highered==0.2.1
holoviews==1.14.9
html5lib==1.1
huggingface-hub==0.5.1
hvplot==0.8.0
hyperlink==21.0.0
imagecodecs==2021.8.26
imageio==2.9.0
imagesize==1.3.0
importlib-metadata==4.8.2
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
intervaltree==3.1.0
ipykernel==6.4.1
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.9.3
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.18.0
jellyfish==0.9.0
Jinja2==2.11.3
jinja2-time==0.2.0
jmespath==1.0.0
joblib==1.1.0
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyter-server==1.4.1
jupyterlab==3.2.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.2
jupyterlab-widgets==1.0.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==23.4.0
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
lerc==0.1.0
Levenshtein-search==1.4.5
libarchive-c==2.9
llvmlite==0.38.0
locket==0.2.1
lxml==4.7.1
Mako==1.2.0
Markdown==3.3.6
MarkupSafe==1.1.1
matplotlib==3.5.0
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mock==4.0.3
more-itertools==8.12.0
mpmath==1.2.1
mrjob==0.7.4
msgpack==1.0.2
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
mysql-connector-python==8.0.29
navigator-updater==0.2.1
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.6.5
nose==1.3.7
notebook==6.4.6
ntlm-auth==1.5.0
numba==0.55.1
numexpr==2.8.1
numpy==1.21.5
numpydoc==1.1.0
oauthlib==3.1.1
olefile==0.46
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
pandoc==2.0.1
pandocfilters==1.4.3
panel==0.13.0
param==1.12.1
parso==0.8.3
partd==1.2.0
path==16.2.0
pathlib2==2.3.6
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
perlcompat==1.1
persistent==4.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pip==22.0.4
pipenv==2022.1.8
pipreqs==0.4.11
pkginfo==1.7.1
platformdirs==2.5.1
plotly==5.6.0
pluggy==1.0.0
plumbum==1.7.2
ply==3.11
poyo==0.5.0
prometheus-client==0.12.0
prompt-toolkit==3.0.20
protobuf==3.20.1
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycosat==0.6.3
pycparser==2.21
pyct==0.4.8
pycurl==7.44.1
pydocstyle==6.1.1
pyerfa==2.0.0
pyflakes==2.3.1
pygeocoder==1.2.5
Pygments==2.10.0
pyhacrf-datamade==0.2.6
PyJWT==2.1.0
PyLBFGS==0.2.0.14
pylint==2.9.6
pyls-spyder==0.4.0
pyodbc==4.0.0-unsupported
pyOpenSSL==21.0.0
pypandoc==1.7.2
pyrsistent==0.18.0
pyshp==2.1.3
PySocks==1.7.1
Pytess==1.0.0
pytest==6.2.5
python-certifi-win32==1.6
python-http-client==3.3.2
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify==5.0.2
pytz==2021.3
pyviz-comms==2.2.0
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==22.3.0
QDarkStyle==3.0.2
qstylizer==0.1.10
QtAwesome==1.0.3
qtconsole==5.1.1
QtPy==1.10.0
recordlinkage==0.14
regex==2021.11.2
rlr==2.4.6
rope==0.21.1
rsa==4.7.2
Rtree==0.9.7
ruamel-yaml-conda==0.15.100
sacremoses==0.0.49
scikit-image==0.18.3
scikit-learn==1.0.2
scikit-learn-intelex==2021.20211201.94554
scipy==1.7.3
seaborn==0.11.2
Send2Trash==1.8.0
sendgrid==6.7.1
service-identity==21.1.0
setuptools==58.0.4
setuptools-scm==6.4.1
simplecosine==1.2
simplegeneric==0.8.1
singledispatch==3.7.0
sip==4.19.13
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
spyder==5.1.5
spyder-kernels==2.1.3
SQLAlchemy==1.4.27
sqlparse==0.4.2
starkbank-ecdsa==1.1.1
statsmodels==0.12.2
sympy==1.9
tables==3.6.1
tabulate==0.8.9
TBB==0.2
tblib==1.7.0
tenacity==8.0.1
termcolor==1.1.0
terminado==0.9.4
testpath==0.5.0
text-unidecode==1.3
textdistance==4.2.1
threadpoolctl==2.2.0
three-merge==0.1.1
tifffile==2021.7.2
tinycss==0.4
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.0
toolz==0.11.2
torch==1.11.0
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
transformers==4.18.0
Twisted==22.4.0
txaio==22.2.1
typed-ast==1.4.3
typing_extensions==4.2.0
ujson==4.2.0
unicodecsv==0.14.1
Unidecode==1.3.2
urllib3==1.26.7
virtualenv==20.13.2
virtualenv-clone==0.5.7
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
wheel==0.37.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==3.0.2
xlrd==2.0.1
XlsxWriter==3.0.2
xlwings==0.24.9
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.31.0
yarg==0.1.9
zict==2.0.0
zipp==3.7.0
zope.event==4.5.0
zope.index==5.2.0
zope.interface==5.4.0
